header {
	text-align: center;
}
.formClass,
.trainTable,
#schedule
{
background-color:white;
}
.formClass{
	padding:30px 45px 8px 45px;
	margin: 10px 0px 10px 0px;
}

body {
	background-image: url("../Images/trainPic.jpg");
}
label {
	margin-bottom: 8px;
}
#submitBtnForm{
	margin-bottom: 25px;
}

p, label,
th {
	font-family: 'Lobster', cursive;
}
h1,h2,h3,h4,
input,
td {
	font-family: 'Merriweather', serif;

}